APP_PORT=3016
APP_HOST=http://
APP_MODE=development

SSL_KEY_PATH=
SSL_CERT_CHAIN_PATH=

TOKEN_FILES_PATH=uploads

DB_HOST=localhost
DB_USER=root
DB_PASSWORD= ""
DB_NAME= digital-bookstore

EMAIL_SENDER=alineabookshop@gmail.com
EMAIL_SENDER_PASS=changeme