APP_PORT=3016
APP_HOST=https://localhost
APP_MODE=development

SSL_KEY_PATH=certs/your-key.pem
SSL_CERT_CHAIN_PATH=certs/your-cert.crt

TOKEN_FILES_PATH=uploads

DB_HOST=127.0.0.1
DB_PORT=3308
DB_USER=root
DB_PASSWORD=changeme
DB_NAME=digital-bookstore
DATABASE_URL="mysql://root:changeme@127.0.0.1:3308/digital-bookstore"

JWT_SECRET=changeme

EMAIL_SENDER=your-email@example.com
EMAIL_SENDER_PASS=changeme

LIQ_PAY_PUBLIC=changeme
LIQ_PAY_PRIVATE=changeme