ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
    font-size: large;
    text-align: justify;
  }
  
  ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
    font-weight: 300;
    line-height: 1.4em;
  }
  
  ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
  }
  
  li ol > li {
    margin: 0;
  }
  
  li ol > li:before {
    content: counters(item, ".") ". ";
  }

  h3 {
    font-weight: bold;
  }