
.App, .modal-body, .offcanvas-body,.list-group-item,table>tbody/* ,.toast-body */ {
  text-align: center;
  background-color: #ffefdd;
  /* background: url("/main.jpg"); */
}


main {
  min-height: 70vh;
}

header, .modal-header, .offcanvas-header,.toast-header {
  background-color:#95714a;
}

.header-bottom {
  background-color: #5d4830;
}

footer, .modal-footer {
  background-color: #95714a;
  color: rgb(255 255 255 / 55%);
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* #b38757 */
.page-link.active, .active > .page-link{
  background-color: #05aac2;
}

.page-link{
  color: #05aac2;
}

.range-slider__thumb {
  background: #05aac2 !important;
  /* CSS for range */
}
@import 'react-range-slider-input/dist/style.css';

@media print {
  html, body {
    display: none;  /* hide whole page */
  }
}
