
.App, .modal-body, .offcanvas-body,.list-group-item,table>tbody/* ,.toast-body */ {
  text-align: center;
  background-color: #f9f3e7;
}

main {
  min-height: 70vh;
}

header, .modal-header, .offcanvas-header,.toast-header,footer, .modal-footer,.header-bottom  {
  background-color:#e7d6cc;
}

.button {
  background-color: #748492;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* #b38757 */
.page-link.active, .active > .page-link{
  background-color: #4a5a69;
}

.page-link{
  color: #4a5a69;
}

.range-slider__thumb {
  background: #4a5a69 !important;
  /* CSS for range */
}
@import 'react-range-slider-input/dist/style.css';

@media print {
  html, body {
    display: none;  /* hide whole page */
  }
}
